:root {
  --blue_color: #2196f3;
  --black: #000;
  --white: #fff;
  --white_opacity_06: #ffffff99;
  --dif_white: #eee;
  --some_more_light_black: #212121;
  --gray: #757575;
  --light_blue: #188ce8;
  --background_dark: #2f303a;
  --button_white: #f5f4fa;
  --icon: #afb1b8;
  --icon_back: #f5f4fa;

  --raleway_font: "Raleway", sans-serif;
  --roboto_font: "Roboto", sans-serif;
}

/* * {
  outline: 1px solid red;
} */

a,
ul,
body,
h3,
h2,
p,
li,
svg {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--roboto_font);
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

ul,
a,
address {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*Header*/
.header_style {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header_style .container {
  display: flex;
  align-items: center;
}

.header_style nav {
  margin-left: 93px;
}

.header_left_button_list {
  display: flex;
  padding: 0;
  gap: 50px;
  padding-left: 10px;
}

.header_right_button_list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.logo {
  font-family: var(--raleway_font);
  font-size: 26px;
  font-weight: 700;
}

.logo_first {
  color: var(--blue_color);
}

.logo_second {
  color: var(--black);
}

.logo_second_footer {
  color: var(--white);
}

.header_button_left {
  color: var(--some_more_light_black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 0.5s;
}

.header_button_left:hover,
.header_button_left:focus {
  color: var(--blue_color);
}

.header_button_left_active {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  color: var(--light_blue);
}

.header_left_button_list .header_button_left_active::after {
  content: "";
  display: block;
  bottom: -32px;
  border-radius: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
}

.header_button_right {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 0.5s;
  white-space: nowrap;
}

.header_icon {
  fill: currentColor;
  margin-right: 10px;
}

.header_button_right:hover,
.header_button_right:focus {
  color: var(--blue_color);
}

/*Section Main*/

.section_main {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main_section_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
}
.section_main h1 {
  margin: auto;
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 136%;
  letter-spacing: 2.64px;
  word-wrap: break-word;
  text-transform: uppercase;
  max-width: 696px;
}

.main_page_button {
  text-decoration: none;
  background: var(--blue_color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  cursor: pointer;

  color: var(--white);
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 185%;
  letter-spacing: 0.96px;
  word-wrap: break-word;
  transition: color 0.5s;

  margin-top: 30px;
}

.main_page_button:hover,
.main_page_button:focus {
  background: var(--light_blue);
}

/*Us plus section*/

.section_us_plus {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list_us_plus {
  gap: 30px;
  display: flex;
}

.us_plus_logo_box {
  background-color: var(--icon_back);
  max-height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.list_us_plus h3 {
  color: var(--some_more_light_black);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.list_us_plus p {
  color: var(--gray);
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

/*Work section*/
.section_work {
  text-align: center;
  padding-bottom: 94px;
}

.section_work h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 50px;
}

.section_work ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.work_card {
  position: relative;
}

.work_overlay_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

/*Section Worker*/
.section_worker {
  text-align: center;
  background-color: var(--button_white);
  padding: 0;
  margin: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.worker_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
.section_worker h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 50px;
}
.worker_card {
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.worker_info {
  padding: 0 32px 30px;
}

.worker_card h3 {
  color: var(--some_more_light_black);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.social_link_list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}

.social_list_item {
  height: 44px;
  width: 44px;
}

.social_link_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, background-color 0.5s;
}

.social_link_list a:hover,
.social_link_list a:focus {
  color: var(--white);
  fill: currentColor;
  background-color: #188ce8;
}

.worker_card img {
  margin-bottom: 30px;
}

.worker_card p {
  color: var(--gray);
  font-size: 16px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin: 0;
}

/*Regular customers section*/

.regular_customers_section {
  text-align: center;
  padding: 94px 0;
  margin: 0;
}

.logo_client_list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.regular_customers_section h2 {
  color: var(--some_more_light_black);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;

  margin-bottom: 50px;
}

.logo_client_card {
  max-height: 92px;
}

.logo_client_card a {
  border-radius: 4px;
  border: 1px var(--icon) solid;
  display: inline-block;
  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, border 0.5s;
  height: 100%;
}

.client_logo {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  color: var(--icon);
  fill: currentColor;
  transition: color 0.5s, border 0.5s;
}

.logo_client_card a:hover,
.logo_client_card a:focus {
  color: var(--blue_color);
  fill: currentColor;
  border: 1px var(--blue_color) solid;
}

.client_logo:hover,
.client_logo:focus {
  color: var(--light_blue);
  fill: currentColor;
}

/*Footer*/
.footer_page {
  background-color: var(--background_dark);
  color: var(--white);
}

.footer_page .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer_box_first {
  margin-right: 93px;
}

.footer_page .logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer_page address ul li:not(:last-child) {
  margin-bottom: 12px;
}

.footer_address_link {
  color: var(--white);
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.42px;
}
.footer_mailtel_link {
  color: var(--white_opacity_06);
  line-height: 114%;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}

.footer_box_second p {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;

  margin-bottom: 20px;
}

.footer_social_list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.footer_social {
  height: 44px;
  width: 44px;
}

.footer_icon_link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  color: var(--white);

  fill: currentColor;
  transition: color 0.5s, background-color 0.5s;
}

.footer_icon_link:hover,
.footer_icon_link:focus {
  color: var(--white);
  fill: currentColor;
  background-color: var(--light_blue);
}

.footer_icon {
  fill: currentColor;
}

.footer_box_second_plus_one {
  margin-left: 94px;
}

.footer_box_second_plus_one p {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;

  margin-bottom: 20px;
}

.footer_input {
  width: 358px;
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  padding: 16px 0px 16px 16px;

  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  color: var(--white_opacity_06);
}

.footer_button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 14px 28px;
  margin-left: 12px;

  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  color: var(--white);
}

.button_text_svg {
  display: flex;
  align-items: center;
}

.footer_button_svg {
  margin-left: 10px;
}
/*Portfolio*/

.button_row {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button_row ul {
  display: flex;
  gap: 8px;
}

.button_row button {
  height: 100%;
  background: var(--button_white);
  font-family: var(--roboto_font);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  color: var(--some_more_light_black);
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  transition: color 0.5s, background-color 0.5s;
}

.section_portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section_portfolio button:hover,
.section_portfolio button:focus {
  background: var(--blue_color);
  color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio_card {
  max-width: 370px;
  border: 1px solid var(--dif_white);
  transition: box-shadow 0.5s;
}

.portfolio_card:hover,
.portfolio_card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image_container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.text_section {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  opacity: 0.9;
  transition-property: transform;
  background-color: #2196f3;
}

.text_portfolio {
  font-size: 18px;
  line-height: 155.56%;
  letter-spacing: 0.54px;
  color: var(--white);
  padding: 64px 24px;
  background-color: var(--brand-color);
  opacity: 0.9;
}

.portfolio_card:hover .text_section,
.portfolio_card:focus .text_section {
  transform: translateY(0);
}

.portfolio_list_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio_list_box h3 {
  color: var(--some_more_light_black);
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}
.portfolio_card_text p {
  color: var(--gray);
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.portfolio_card_text {
  padding: 20px 23px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 39px 41px 40px 41px;
  min-width: 528px;
  background-color: var(--white);
  opacity: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close_modal_button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon_modal {
  width: 18px;
  height: 18px;
  fill: var(--black);
  transition: fill 0.5s;
}

.close_modal_button:hover .icon_modal,
.close_modal_button:focus .icon_modal {
  fill: var(--blue_color);
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form_h2 {
  color: var(--some_more_light_black);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.6px;

  margin-bottom: 12px;
}

.label_p {
  margin-bottom: 4px;
}

.form-li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form_input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px #21212133 solid;
  padding: 11px 0px 11px 30px;
}

.form_textarea {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px #21212133 solid;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding: 11px 12px;
  resize: none;
}

.form_input:focus + .form_icon,
.form_input:hover + .form_icon {
  transition: 300ms;
  color: var(--blue_color);
}

.form_input:hover,
.form_input:focus,
.form_textarea:hover,
.form_textarea:focus {
  outline: 1px var(--blue_color) solid;
}

.form_text_label {
  color: var(--gray);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 10px;
  position: relative;
}

.form_icon {
  position: absolute;
  color: var(--black);
  top: 28px;
  left: 10px;
}

.checkbox_div {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  gap: 9px;
}

.form_a {
  text-decoration: underline;
  color: var(--blue_color);
}

input[type="checkbox"] {
  appearance: none;
  border: var(--some_more_light_black) 1px solid;
  height: 15px;
  width: 16px;
  border-radius: 2px;
  transition-duration: 0.5s;
}

input[type="checkbox"]:checked {
  background: var(--blue_color);
  border: none;
  color: var(--white);
}

input[type="checkbox"]:checked::before {
  content: "✔";
  margin-left: 3px;
  display: inline-block;
  text-align: center;
}

.button_form_div {
  display: inline-block;
  text-align: center;
}

.form_button {
  background: var(--blue_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  cursor: pointer;

  padding: 10px 52px;

  color: var(--white);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.form_button:hover,
.form_button:focus {
  background: var(--light_blue);
}
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}
